.content-page-wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 84px);
  
  .right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;

    .contact-bullet-points{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 21px;

        .bullet-point-group{
            display: flex;
            align-items: center;

            .icon{
                font-size: 2em;
                color: $teal;
            }

            .text{
                font-size: 1.5em;
                font-weight: 900;
                margin-left: 21px;
            }
        }
    }
  }
  @media only screen and (max-width: 640px) {
      grid-template-columns: 1fr;
      width: calc(100vw - 20px);

      .desc{
        font-size: 0.65em;
      }

      .left-column{
        height: 350px;
        width: 100vw;
        height: 200px;
        margin: 10px;
        border-radius: 10px;
        width: calc(100vw - 20px);
      }

      .right-column {
        display: block;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5px;
        width: calc(100vw - 10px);

        .contact-bullet-points{
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 21px;

            .bullet-point-group{
                display: flex;
                align-items: center;

                .icon{
                    font-size: 2em;
                    color: $teal;
                }

                .text{
                    font-size: 1em;
                    font-weight: 900;
                    margin-left: 21px;
                }
            }
        }
      }
  }
}