.DraftEditor-root{
    border: 1px solid #f1f1f1;
    padding: 20px;
    min-height: 100px;
    border-radius: 3px;
}

.rdw-image-modal{
    left: -215px;
    height: auto;
}

.rdw-emoji-modal{
    left: -169px;
}

.rdw-embedded-modal{
    left: -124px;
    height: auto;
}

.rdw-image-modal-size{
    display: inline;
}

.rdw-image-modal-alt-input{
    width: 90% !important;
}

.rdw-image-mandatory-sign{
    display: inline;
}

.rdw-image-modal-size-input{
    width: 83% !important;
}